@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Root variables Theme setting*/
:root {
  --primary-bg-color: #fff;
  --secondary-color: #c8c8c8;
  --bg-secondary-color: #fff;
  --dark-light-color: #000;
  --shadow-color: #00000073;
}

.dark-theme {
  --primary-bg-color: #242329;
  --secondary-color: #000;
  --bg-secondary-color: #000;
  --dark-light-color: #fff;
  --shadow-color: #00000000;
}

#root {
  width: 100%;
  height: 100vh;
}

/*Disable the text inside our website by this viewers can't select and copy text*/

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* Hiding the scrollbar */
html {
  overflow: scroll;
  scrollbar-width: none !important;
  font-family: 'Kanit', sans-serif;
}

.logo-font {
  font-family: 'Nanum Pen Script', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar */
/* The emerging W3C standard
   that is currently Firefox-only */
.show-custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.show-custom-scrollbar.custom-scrollbar-invert {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.067);
}

/* Works on Chrome/Edge/Safari */
.show-custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.show-custom-scrollbar::-webkit-scrollbar-track {
  display: block;
  background: transparent;
}

.show-custom-scrollbar.custom-scrollbar-invert.custom-scrollbar-track-light::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.067);
}

.show-custom-scrollbar::-webkit-scrollbar-thumb {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.show-custom-scrollbar.custom-scrollbar-invert::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.show-custom-scrollbar.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  width: 2px;
  height: 2px;
}

/* Loader animation */
.loader-bg {
  background: linear-gradient(90deg, #e8e8e8 10%, #f1f1f1 20%, #e7e6e6 35%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.loader-bg-dark {
  background: linear-gradient(90deg, #333 10%, #444 20%, #222 35%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Animations */
.pageInEffectDown {
  animation: pageInEffectDown ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pageInEffectDown {
  0% {
    opacity: 0.5;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pageInEffectUp {
  animation: pageInEffectUp ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pageInEffectUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}