@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Nanum+Pen+Script&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Root variables Theme setting*/
:root {
  --primary-bg-color: #fff;
  --secondary-color: #c8c8c8;
  --bg-secondary-color: #fff;
  --dark-light-color: #000;
  --shadow-color: #00000073;
}

.dark-theme {
  --primary-bg-color: #242329;
  --secondary-color: #000;
  --bg-secondary-color: #000;
  --dark-light-color: #fff;
  --shadow-color: #00000000;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Hiding the scrollbar */
html {
  overflow: scroll;
  scrollbar-width: none !important;
  font-family: 'Kanit', sans-serif;
}

.logo-font {
  font-family: 'Nanum Pen Script', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.pageInEffectDown {
  animation: pageInEffectDown ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pageInEffectDown {
  0% {
    opacity: 0.5;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}